<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
    <link href="https://vjs.zencdn.net/7.18.1/video-js.css" rel="stylesheet" />    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" href="/assets/SAMPARK.ico" type="image/x-icon">
    <script src="/js/dashboard.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dashboard.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Sampark</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="link-container">
        <a  href="/dashboard"><img class="navigation-icon" src="https://img.icons8.com/fluency-systems-filled/50/000000/home.png"/></a>
        <a href="/chat"><img class="navigation-icon" src="https://img.icons8.com/fluency-systems-regular/50/000000/speech-bubble-with-dots.png"/></a>
        <div id="profile-div">
          <a href="/profile"><img  class="navigation-icon navigation-avatar" src="<%=user.avatarImage%>"/></a>
        </div>
        <a href="/people"><img class="navigation-icon" src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/></a>
        <div id="logout-div">
          <a id="logout-link" href="/users/logout"><img class="navigation-icon" src="https://img.icons8.com/external-outline-kendis-lasman/64/000000/external-logout-user-interface-basic-line-outline-kendis-lasman.png"/></a>
        </div>
      </div>
    </div>

    <div class="notifierDiv"></div>
    <div  class="content">
      <a id="ScrollTobutton"></a>
      <div id="header-div">
        <%if (user.darkMode == true) {%>
        <form method="post" action="/changethemetolight/<%= user.id %>">
          <button type="submit"  class="btn"   id="themeBtn">Lightmode</button> 
        </form>
        <%} else {%>
          <form method="post" action="/changethemetodark/<%= user.id %>">
            <button type="submit"  class="btn"   id="themeBtn">Darkmode</button> 
          </form>
          <%}%>
        <h1 class="header" id="heading">Welcome <%= user.firstName%>,</h1>
      </div>
     <br>
      <div class="navigation-links-container">
        <div class="navigation meet-people-container">
          <a href="/people" id="meet-people-link" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom" >Meet People</a>
        </div>
        <div class="navigation user-post-container">
          <a href="/articles/<%= user.username %>" id="user-post-link">Your Posts</a>
        </div>
        <div class="navigation user-followers-container">
          <button  id="follower-btn" onclick="document.getElementById('id01').style.display='block'" href="/users/followers/<%= user.username %>" id="user-post-link">Followers (<%=user.followerArray.length %>)</Button>
        </div>

        <div id="id01" class="w3-modal">
          <div class="w3-modal-content">
        
            <header class="w3-container w3-blue">
              <span id="close-modal-btn" onclick="document.getElementById('id01').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
              <h2 id="modal-header"><b><%=user.followerArray.length %></b> Followers</h2>
            </header>
        
            <div class="w3-container followerModal">
              <%if(user.followerArray.length == 0){%>
                <p>Looks like you don't have any followers yet.</p>
                <%} else {%>
              <% for (var i = 0; i < user.followerArray.length; i++) { %>
                  <a class="follower-link" href="/users/<%= user.followerArray[i].followers%>" class="followers-link">@<%= user.followerArray[i].followers %></a>
                  <%}%>
                <%}%>
            </div>
        
           
          </div>
        </div>
      
      </div>
        <div class="createpost-conatiner">
          <a href="/articles/new"  id="createpost"><img src="https://img.icons8.com/ios-glyphs/90/000000/plus-math.png"/></a>
        </div> 
        <h1 id="postsHeader">Posts</h1>
        <div class="searchContainer">
          <input type="search" onkeyup="search()" name="search" id="searchBox" placeholder="Search Posts">
        </div>
        <div class="postContainer">
          <% posts.forEach(function (post) { %>
           
            <div onclick="openPost('<%=post.id%>')" id="post-box"  class="postDiv">
              <% if(post.postedBy == user.username) { %>
                <div class="postedByDiv">
                  <div class="avatarIconDiv">
                    <img class="avatarIconImage" src="<%=user.avatarImage%>" alt="" class="avatarIconImage">
                  </div>
                  <div class="postedByTextDiv">
                    <h4 class="postedby"><a class="postedbyUser" href="/profile"><%= post.postedBy %></a>  </h4>
                    <p class="postedOn">On <%= post.createdAt.toLocaleDateString()%> at <%= post.createdAt.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) %></p>
                  </div>
                </div>
                <%} else {%>
                  <div class="postedByDiv">
                    <div class="avatarIconDiv">
                      <img class="avatarIconImage" src="<%=post.avatarImage%>" alt="" class="avatarIconImage">
                    </div>
                    <div class="postedByTextDiv">
                      <h4 class="postedby"><a class="postedbyUser" href="/users/<%= post.postedBy%>"><%= post.postedBy %></a>  </h4>
                      <p class="postedOn">On <%= post.createdAt.toLocaleDateString()%> at <%= post.createdAt.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) %></p>
                    </div>
                  </div>
                  <%}%>
              <% if(post.postedBy == user.username) {%>
              <form id="like-form" method="post" action="/articles/delete/<%= post.id %>">
                <button  id="likeBtn" type="submit">
                  <img id="delete-post-icon" src="https://img.icons8.com/material-outlined/96/000000/delete-trash.png"/>      
                </button>
              </form>
              <%}%>
               
              <h2 class="title"><%= post.title %> </h2>
              <%if (post.dataType == 'video'){%>
                <video muted id="article-img" poster="https://www.canva.com/design/DAE-baY05A4/CWDeEmdptqik0alsl63Cqg/view?utm_content=DAE-baY05A4&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" class=""
    controls preload="auto" 
    >
    <source src="<%= post.articleImage%>" type='video/mp4' />
</video>
                <%} else {%>
                  <img id="article-img" src="<%= post.articleImage%>" alt="">
              <%}%>
              <div id="id02" class="w3-modal">
                <div class="w3-modal-content">
              
                  <header class="w3-container w3-blue">
                    <span id="close-modal-btn" onclick="document.getElementById('id02').style.display='none'"
                    class="w3-button w3-display-topright">&times;</span>
                    <h2 class="text-center" id="modal-header">Share Post</h2>
                  </header>
              
                  <div style="color: black;" class="w3-container followerModal">
                    <div class="linksContainer">
                      <div class="whatsappIconDiv">
                        <a href="whatsapp://send?text=<%= user.firstName%> <%= user.lastName%> posted something! Check it out on http://18.204.213.158:8080/articles/<%= post.id%>" class="whatsappLink shareLinks">
                          <img src="https://img.icons8.com/color/96/000000/whatsapp--v1.png" alt="whatsapp Icon" class="whatsappIcon shareIcons">
                        </a>
                      </div>
                      <div class="facebookIconDiv">
                        <a href="" class="facebookLink shareLinks">
                          <img src="https://img.icons8.com/fluency/96/000000/facebook-new.png" alt="FaceBook Icon" class="whatsappIcon shareIcons">
                        </a>
                      </div>
                      <div class="twitterIconDiv">
                        <a href="" class="twitterLink shareLinks">
                          <img src="https://img.icons8.com/fluency/96/000000/twitter.png" alt="Twitter Icon" class="whatsappIcon shareIcons">
                        </a>
                      </div>
                      <div class="emailIconDiv">
                        <a href="" class="emailLink shareLinks">
                          <img src="https://img.icons8.com/ios/96/000000/circled-envelope.png" alt="Email Icon" class="whatsappIcon shareIcons">
                        </a>
                      </div>
                    </div>
                    <div class="copyLinkDiv">
                      <button onclick="copyLink('<%= post.id %>')" class="copyLinkButton shareLinks">
                        <img src="https://img.icons8.com/material-outlined/96/000000/copy.png" alt="Copy Link Icon" class="copyLinkIcon shareIcons">
                      </button>
                       <a class="postLink" id="postLink"  value="anshd.in" href="http://18.204.213.158:8080/articles/<%=post.id%>">http://18.204.213.158:8080/articles/<%=post.id%></a>
                    </div>
                  </div>
              
                 
                </div>
              </div>
                <div class="PostEditables">
                  <button onclick="likePost('<%= post.id%>')" class="postEditablesLink">
                    <img class="like-post post-icons" id="likeIcon" src="https://img.icons8.com/ios/96/000000/like--v1.png"/>
                  </button>
                  <button onclick="document.getElementById('id02').style.display='block'" class="postEditablesLink">
                    <img class="post-icons" src="https://img.icons8.com/ios/96/000000/share-3.png"/>
                  </button>
                  <button onclick="savePost('<%= post.id%>')" class="postEditablesLink">
                    <img class="post-icons" src="https://img.icons8.com/ios/96/000000/bookmark-ribbon--v1.png"/>
                  </button>
                </div>
                <h4 class="post"><%= post.post %></h4>
                <div class="shareables">
                  </div>
                  <div id="comment-container" class="comment-btn-container">
                    <form id="commentForm" method="post" action="/articles/comment/<%= post.id%>" class="comment-form">
                      <input name="commentMsg" id="comment-input" type="text" placeholder="Type Comment" required >
                      <input class="comment-btn " type="submit" value="ADD">
                    </form>
                  </div>
                  
                  <div class="commentBox" id="comment-container">
                    <% for (var i = 0; i < post.comments.length; i++) { %>
                      <div id="comment" class="comment">
                        <div class="avatarDiv">
                          <img id="avatarIcon" src="<%= post.comments[i].avatarImage %>" alt="">
                        </div>
                        <!-- <div class="delete-comment-btn"><form action="" method="post"><button type="submit"><img src="https://img.icons8.com/small/30/000000/filled-trash.png"/></button></form></div> -->
                        <div class="commentDiv">
                          <% if(post.comments[i].commentedBy == user.username) { %>
                          </b><a class="commentedBy-link" href="/profile">@<%= post.comments[i].commentedBy %> </a></b> 
                          <% }else { %>
                            <b><a class="commentedBy-link" href="/users/<%= post.comments[i].commentedBy %>">@<%= post.comments[i].commentedBy %></a></b>
                            <%}%>
                            <br><b><%= post.comments[i].commentMsg %></b><br>
                          </div>
                        </div>
                    <% } %>
                  </div>
                </div>
            
                <% }) %>
              </div>   
              <div class="spacer"></div>
    </div>
    <script src="https://vjs.zencdn.net/7.18.1/video.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>

      const socket = io();
   
      function search() {
    let search = document.getElementById('searchBox').value
    search=search.toLowerCase();
    let title = document.getElementsByClassName('title');
    let post = document.getElementsByClassName('postDiv');
    let article = document.getElementsByClassName('post');
    let postedBy = document.getElementsByClassName('postedbyUser')
      
    for (i = 0; i < title.length; i++) { 
        if (!title[i].innerHTML.toLowerCase().includes(search) && !article[i].innerHTML.toLowerCase().includes(search) && !postedBy[i].innerHTML.toLowerCase().includes(search)) {
            post[i].style.display="none";
          }
          else {
            post[i].style.display="block";                 
        }
    }
}

    const themeBtn = document.getElementById('themeBtn');
    if('<%= user.darkMode %>' == 'true'){
      themeBtn.innerText = 'Lightmode';
      document.body.style.backgroundColor = 'black';
      document.body.style.color = 'white';
      document.getElementById('searchBox').style.background = 'none';
      document.getElementById('searchBox').style.color = '#fff';
      document.getElementById('searchBox').style.boxShadow = 'none';
      document.getElementById('heading').style.textDecoration = 'white'
      // document.getElementById('comment').style.borderColor = 'rgb(9, 103, 209)';
    }else if('<%= user.darkMode %>' == 'false') {
      document.getElementById('heading').style.borderBlockColor = 'black'
      themeBtn.innerText = 'Darkmode'
      document.getElementById('searchBox').style.color = 'black';
      document.body.style.backgroundColor = 'white';
      document.getElementById('searchBox').style.boxShadow = '0 2px 5px 2px rgb(236, 234, 234)';
      document.body.style.color = 'black';
    }
    function openPost(postID){
      window.location = `/articles/${postID}`;
    }

      function likePost(postId){
      let postObj = { 
        postID : postId
      };
      let post = JSON.stringify(postObj)
 
  const url = `/users/post/like/<%= user.username%>/${postId}`
  let xhr = new XMLHttpRequest()
  document.querySelector('.notifierDiv').innerHTML = 'Post Liked';
  document.querySelector('.notifierDiv').style.display = 'flex';
  document.getElementById('likeIcon').src = 'https://img.icons8.com/color/96/000000/filled-like.png'
  setTimeout(() => {
    document.querySelector('.notifierDiv').style.display = 'none'
  }, 5000);
  xhr.open('POST', url, true)
  xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
  xhr.send(post);
 
  xhr.onload = function () {
    if(xhr.status === 200) {
     
     }
}
    }
    function savePost(postId){
      let postObj = { 
        postID : postId
      };
      let post = JSON.stringify(postObj)
 
  const url = `/users/post/save/<%= user.username%>/${postId}`
  let xhr = new XMLHttpRequest()
  document.querySelector('.notifierDiv').innerHTML = 'Post Saved';
  document.querySelector('.notifierDiv').style.display = 'flex';
  document.querySelector('#likeIcon').src = 'https://img.icons8.com/ios/96/000000/like--v1.png'
  setTimeout(() => {
    document.querySelector('.notifierDiv').style.display = 'none'
  }, 5000);
  xhr.open('POST', url, true)
  xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
  xhr.send(post);
 
  xhr.onload = function () {
    if(xhr.status === 200) {
     
     }
}
    }

    var ScrollTobutton = $('#ScrollTobutton');

$(window).scroll(function() {
  if ($(window).scrollTop() > 300) {
    ScrollTobutton.addClass('show');
  } else {
    ScrollTobutton.removeClass('show');
  }
});

ScrollTobutton.on('click', function(e) {
  e.preventDefault();
  $('html, body').scrollTop(0);
});

  function copyLink(postId){
    const postLink = document.getElementById('postLink').innerText;
    document.querySelector('.notifierDiv').innerHTML = 'Link Copied';
    document.querySelector('.notifierDiv').style.display = 'flex';
    navigator.clipboard.writeText(postLink);
    setTimeout(() => {
    document.querySelector('.notifierDiv').style.display = 'none'
  }, 5000);
  }

  function openPost(postID){
    window.location= `/${postID}`
  }
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  </body>
</html>
